<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.serviceModel>
		<bindings>
      <basicHttpBinding>
          <binding name="BasicHttpBinding_IMarketDataContributor" />
      </basicHttpBinding>
  </bindings>
		<client>
      <endpoint address="http://localhost:8000/" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IMarketDataContributor"
          contract="MarketDataContributorConnection.IMarketDataContributor"
          name="BasicHttpBinding_IMarketDataContributor" />
  </client>
	</system.serviceModel>
</configuration>